<!-- <div>
  <h1 [ngStyle]="{'font-size':'40px', 'color':'blue'}">Environmental Protection Act</h1>
   <h2 [ngStyle]="addStyle()">Importance of Environment Protection Act</h2>
   <h2 [ngStyle]="addStyle()">Environments Protection Act came into force at 1986</h2>
   <h2 [ngStyle]="addStyle()">Environment Protection plays very important role</h2>
</div>
<div [ngClass]="variable">
  <h4>Hii , My name is Sufiya N</h4>
</div> -->
<div style="height:60px; background-color: rgb(101, 101, 145); color: aliceblue;">
  <h1>Interceptors</h1>
</div>
<router-outlet></router-outlet>